player-connection-mode=Listen
player-connection-guid=3775057645
player-connection-debug=0
player-connection-project-name=Pizza Panic
player-connection-ip=10.2.0.2
player-connection-ip=192.168.1.200
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
enable-directstorage=False
build-guid=34ce25720cff4325b3dd008dc17beefb
